* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 170, 63, 0.1);
}

div#main-box-shadow {
    width: 960px;
    margin: auto;
    box-shadow: 0 0 16px #aaa;
    border-radius: 24px;
}

div#main {
    width: 832px; /* 960 - 64*2 */
    padding: 64px;
    background-color: #fff;
}

p {
    font-size: large;
}

#top-row {
    width: 960px;
    height: 100px;
    margin: auto;
    margin-top: 32px;
    background-color: #192;

    display: flex;
    flex-flow: row;

    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

#nav {
    width: 960px;
    height: 64px;
    text-align: center;
    display: flex;
    flex-flow: row;

    font-size: large;
    font-family: sans-serif;

    background-color: #fff;
}

#nav a {
    flex: 1;
    margin: auto;
    color: #000;
    font-weight: 300;
    padding: 10px;
    transition: opacity 0.2s;
}

#nav a.active {
    font-weight: bold;
}
#nav a:hover {
    opacity: 0.5;
}

a#logo {
    padding: 9px 32px;
}
a#logo img {
    width: 488px;
    height: 82px;
    transition: opacity 0.2s;
    cursor: pointer;
    filter: drop-shadow(2px 2px 2px #000);
}
a#logo img:hover {
    opacity: 0.75;
}

hr {
    height: 4px;
    background-color: #0a0;
    border: 1px solid #000;
    border-radius: 3px;
    margin-top: 64px;
    margin-bottom: 64px;
}

div#bottom-banner {
    width: 832px; /* 960 - 64*2 */
    margin: auto;
    margin-bottom: 24px;
    background-color: #192;
    padding: 32px 64px;
    text-align: center;
    color: #fff;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}
div#bottom-banner p#FDA-statement {
    text-align: left;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}
h1 sup {
    font-weight: 500;
    font-size: 16px;
}

p.thinner {
    margin-left:  64px;
    margin-right: 64px;
}

img.img300 {
    width: 300px;
    height: 300px;
}

p#weapon {
    text-align: center;
    font-family: sans-serif;
}






/* 
#top-img {
    width: 100%;
    text-align: right;
}

#top-img img {
    width: 70%;
}

#top-img div {
    width: 30%;
    padding: 50px;
    text-align: center;

    border: 1px solid #fff;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;

    box-shadow: 0 0 10px #888;

    position: absolute;
    top: 200px;
    right: 50%;

    background-color: rgba(153, 51, 255, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#top-img h1 {
    font-size: 60px;
}

#info-banner {
    width: 100%;
    background-color: rgba(153, 51, 255, 0.5);
}

#info-banner p {
    width: 80%;
    margin: auto;
    font-size: 30px;
    font-family: sans-serif;
    padding: 50px;
}

#bottles {
    display: flex;
    flex-flow: row;
    margin-top: 100px;
    margin-bottom: 100px;
}

.bottle {
    flex: 1;
}

.bottle div {
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 50%;
    margin: auto;
    padding: 25px;

    border: 1px solid #eee;
    border-radius: 2px;
}

.bottle img {
    width: 100%;
}

.bottle span {
    font-size: large;
} */
